@model Weterzynarze.ViewModels.Animal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Animal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            <img src="~/Picture/@Model.Picture" alt="" height="200px" width="200px" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Breed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Breed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistinuishingMarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistinuishingMarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChipId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChipId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj dane zwierzaka", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
</p>
<br />
<hr />
<thead>
    <h4>Karta zdrowia</h4>
</thead>

<table class="table">
    <th>
        @Html.DisplayNameFor(model => model.HealthCard.FirstOrDefault().CreateTime)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.HealthCard.FirstOrDefault().Description)
    </th>
    @foreach (var item in Model.HealthCard)
    {

        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>




    }
</table>
<p>
    @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-primary" })
</p>
