@model IEnumerable<Weterzynarze.ViewModels.Animal>

@{
    ViewBag.Title = "ShowAll";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rasa.Name);
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DistinuishingMarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChipId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rasa.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistinuishingMarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChipId)
            </td>
            <td>
                <a href="@Url.Action("Details", "Animals", new { id = item.ID })" class="links">
                    <img src="~/Picture/@item.Picture" alt="" height="50px" width="50px" />
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
