@model IEnumerable<Weterzynarze.Models.Visit>

@{
    ViewBag.Title = "My Visit";
}

<p>
    <br />
    @Html.ActionLink("Create New", "Create","Visits", new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Zwierzak.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Zwierzak.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Zmień Date wizyty","Edit", new { id = item.ID }, new { @class = "btn btn-warning" })            
            </td>
        </tr>
    }

</table>

