@model IEnumerable<Weterzynarze.Models.HealthCard>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Animal.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Treatment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usluga.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Animal.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Treatment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usluga.Name)
        </td>
        <td>
            @Html.ActionLink("edytuj", "Edit", new { id=item.ID }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.ID }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.ID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
