@model Weterzynarze.ViewModels.Profile

@{
    ViewBag.Title = "My Details";
}

<div>
    <h4>My Profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

    </dl>

</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
</p>
<br />
<hr />
<thead>
    <h4>Moje zwierzaki</h4>
</thead>

<table class="table">
    <th>
        @Html.DisplayNameFor(model => model.Pets.FirstOrDefault().Name)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Pets.FirstOrDefault().Picture)
    </th>
    @foreach (var item in Model.Pets)
    {

        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a href="@Url.Action("Details", "Animals", new { id = item.ID })" class="links">
                    <img src="~/Picture/@item.Picture" alt="" height="50px" width="50px" />
                </a>
            </td>
        </tr>




    }
</table>
<br />
<hr />
<thead>
<h4>Moje wizyty</h4>
</thead>

<table class="table">

    <th>
        @Html.DisplayNameFor(model => model.Zapiswiz.FirstOrDefault().VisitDate)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Zapiswiz.FirstOrDefault().Zwierzak)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Zapiswiz.FirstOrDefault().Description)
    </th>
    <th></th>
    @foreach (var item in Model.Zapiswiz)
    {

        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.VisitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zwierzak.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Zmień termin", "Edit","Visits", new { id = Model.ID }, new { @class = "btn btn-warning" })
            </td>
        </tr>




    }
</table>
<p>
    @Html.ActionLink("Back to Home", "Index", "Home", new { @class = "btn btn-primary" })
</p>
