@model IEnumerable<Weterzynarze.Models.HistryVisit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Zwierzak.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attention)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Zwierzak.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Attention)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id = item.ID }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Szczegóły", "Details", new { id = item.ID }, new { @class = "btn btn-info" })
        </td>
    </tr>
}

</table>
